<div class = "container">
    <div class = "card-panel">
        <h3 class="center-align" > Corte de caja Denegado</h3>
    </div>

    Para poder realizar un corte de caja, todas las ordenes deben de ser finalizadas
    </br>
    <a class="waves-effect waves-light btn" href = "/tables">Ver ordenes</a>
    <a class="waves-effect waves-light btn" href = "/corte/index">ir a corte de caja</a>
<div>