<div class= "row container" ng-controller ="domicilio">
  <div class="card">
  <H1 class="center-align">CLIENTES</H1>
  <div class="row">
    <div class="col s12 m6 l6">
      <h4>BUSCAR POR TELEFONO:</h4>
      <input type="number" ng-model="tel_query" ng-change ="actualizar()"> 
    </div>
    <div class="col s12 m6 l6">
      <h4>BUSCAR POR NOMBRE:</h4>
      <input type="text" ng-model="nom_query" ng-change ="actualizar()"> 
    </div>
  </div>
  
</h3>
  <table width="1">
    <thead>
      <tr>
        <th>NOMBRE</th>
        <th>TELEFONO</th>
        <th>CALLE</th>
        <th>COLONIA</th>
        <th>NUMERO INTERIOR</th>
        <th>NUMERO EXTERIOR</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody ng-repeat="cliente in clientes">
      <td>{{cliente.nombre}}</td>
      <td>{{cliente.telefono}}</td>
      <td>{{cliente.calle}}</td>
      <td>{{cliente.colonia}}</td>
      <td>{{cliente.numero_interior}}</td>
      <td>{{cliente.numero_exterior}}</td>
      <td><a href="{{cliente.show}}">Mostrar</a></td>
      <td><a href="{{cliente.edit}}">Editar</a></td>
      <td><a href="" ng-click="ordenar(cliente.id)">Ordenar</a></td>
      <td></td>
      
     
    </tbody>
  </table>
  
  <br>
  
  <%= link_to 'Crear cliente', new_customer_path,class:"waves-effect amber darken-4 btn"%>
</div>  
</div>  