<p id="notice"><%= notice %></p>
    <h1><%@order.table%></h1>
    <%@order.saucerOrders.each do |s|%>
        <ul>
            <li><%="Platillo: #{s.platillo.name} anotacion: #{s.notes}"%></li>
        </ul>
    <%end%>

