<p id="notice"><%= notice %></p>
    <h1><%@order.table%></h1>
    
    <%=render "saucer_orders/form"%>
    <ul id="lista_de_ordenes">
        <%@order.saucerOrders.each do |s|%>
            <li><%="Platillo: #{s.platillo.name} anotacion: #{s.notes}"%></li>
        <%end%>
    </ul>
    