<div class="container">
  <h3 class="card center-align">Lista de mesas</h3>
      <%cont=0%>
      <% @tables.each do |table| %>
        <%if cont%2==0 %>
          <div class="row">
        <%end%>
          <div class="col s12 m6">
            <div class="card z-depth-4">
              <a href="<%=table_url(table)%>">
                <div class="card-content ">
                  <span class="card-title"><h1><%=table.name%></h1></span>
                  <p><%=table.description%></p>
                </div>
              </a>
            </div>
          </div>
        <%if cont%2!=0 %>
          </div>
        <%end%>
        <%cont+=1%>
      <% end %>
      <div class="row">
         <div class="col s12 m12">
            <div class="card z-depth-4">
              <a href="<%=domicilio_path%>">
                <div class="card-content">
                  <span class="card-title"><h1>A domicilio</h1></span>
                  <p>Aqui  se encuentran todas las ordenes a domicilio</p>
                </div>
              </a>
            </div>
          </div>
      </div>
    </div>

