<div class="container" ng-controller="pagos">
<p id="notice"><%= notice %></p>
    <h1 class="center-align card"><%=@table.name%></h1>
    <h3 class="center-align card"><%="cantidad de ordenes:#{@orders.count}"%> </h3>
    <div class="center-align"><%=render 'orders/form'%></div>
     <br>
     <div class="row">
        <div class="col s12 m6">
          <div class="card z-depth-4" ng-repeat="orden in izquierda">
            <div class="card-content">
              <div class="right-align"><a href="{{orden.finalizar}}" class=" white-text text-darken-4 red darken-1 btn" data-method="post">Finalizar</a></br><br></div>
              <div class="card-title center-align"><span>Folio:{{orden.id}}</span></div> <br>
               <div class ="row">
                  <div class="col s12 m6 l4 center-align">Mesero: {{orden.mesero}}</div> 
                  <div class="col s12 m6 l4 center-align">Fecha:{{orden.fecha}}</div>
                  <div class="col s12 m6 l4 center-align">Hora:{{orden.hora}}</div>
               </div>
              <ul>
                <li ng-repeat="platillo in orden.platillos">{{platillo.name}}: ${{platillo.price}}</li>
              </ul>
              Total: ${{orden.total}}</br>
              pago con: $<input id="payment" type="number" ng-model="orden.payment" ng-change="actulizarPago(orden.id,orden.payment)"></br>
              Cambio: $<lable >{{orden.payment-orden.total}}</lable>
            </div>
            <div class="card-action">
                <a href="{{orden.ver}}" class="amber-text text-darken-4"> Ver</a>
                <a href="{{orden.imprimir}}" class="amber-text text-darken-4" target = '_blank'>Imprimir</a>
                <label>Cambiar de mesa</label>
                  <select class="browser-default" ng-model= "orden.table_id" ng-change= "cambiarMesa(orden)">
                    <option ng-repeat="mesa in mesas" value="{{mesa.id}}">{{mesa.name}}</option>
                  </select>
            </div>
          </div>
        </div>
        
        <div class="col s12 m6">
          <div class="card z-depth-4" ng-repeat="orden in derecha">
             <div class="card-content">
              <div class="right-align"><a href="{{orden.finalizar}}" class=" white-text text-darken-4 red darken-1 btn" data-method="post">Finalizar</a></br><br></div>
              <div class="card-title center-align"><span>Folio:{{orden.id}}</span></div> <br>
               <div class ="row">
                  <div class="col s12 m6 l4 center-align">Mesero: {{orden.mesero}}</div> 
                  <div class="col s12 m6 l4 center-align">Fecha:{{orden.fecha}}</div>
                  <div class="col s12 m6 l4 center-align">Hora:{{orden.hora}}</div>
               </div>
              <ul>
                <li ng-repeat="platillo in orden.platillos">{{platillo.name}}: ${{platillo.price}}</li>
              </ul>
              Total: ${{orden.total}}</br>
              pago con: $<input id="payment" type="number" ng-model="orden.payment" ng-change="actulizarPago(orden.id,orden.payment)"></br>
              Cambio: $<lable >{{orden.payment-orden.total}}</lable>
            </div>
            <div class="card-action">
                <a href="{{orden.ver}}" class="amber-text text-darken-4"> Ver</a>
                <a href="{{orden.imprimir}}" class="amber-text text-darken-4" target = '_blank'>Imprimir</a>
                <label>Cambiar de mesa</label>
                  <select class="browser-default" ng-model= "orden.table_id" ng-change= "cambiarMesa(orden)">
                    <option value="" disabled selected>Choose your option</option>
                    <option ng-repeat="mesa in mesas" value="{{mesa.id}}">{{mesa.name}}</option>
                  </select>
            </div>
          </div>
        </div>
    </div>
<div>