.browser-default{
     border:1px solid #000;
}


.anchura-def{
    display: inline-block;
    position: relative;
    top: 0;
    margin-top: 0;
    height: 240px;
    margin-bottom: 20px;
   
    
    
}

@media only screen and (max-width: 600px) {
    .tam-def{
        width: 93%;
        margin: 0 auto;
    }
}
@media only screen and (min-width: 600px) {
    .tam-def{
        width: 30%;
        margin-left: 3%;
    }
}
@media only screen and (min-width: 992px) {
    .tam-def{
        position: absolute;
        top: 0;
        margin-top: 0;
        width: 11.4%;
        margin-left: 0.8%;
    }
}
.f{ 
    position: relative;
}
.d{
    width:100%;
}
