// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fondo{
    background-color:#64dd17;
    opacity:.8;
}

.letra-grande{
    font-size : 50pt;
}
